$orange: #cb7048;
$red: #a83d3d;
$blue: #5252d8;
$grey: #919192;
$green: #59a866;

$phablet-width: "screen and (min-width: 480px)";
$tablet-width: "screen and (min-width: 720px)";
$laptop-width: "screen and (min-width: 1080px)";
$desktop-width: "screen and (min-width: 1620px)";
