html { font-size: 12.5px; }

body {

  font-family: $copy-font;

  header {
    background-color: $navy;
    padding: 2rem 1rem;
  }

  main {
    padding: 1rem;
  }

  .script {
    padding: .75rem;
  }

  .dialogue {
    padding: .5rem 0;
  }

  p {
    padding: 1rem 0 1rem 1rem;
    line-height: $line-height;
  }

  footer {
    color: $silver;
    background-color: $navy;
    padding: 2rem;

    p {
      font-size: .8em;
    }
  }

}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font;
  padding: 0;
  letter-spacing: .06em;
}

h1 {
  color: $silver;
  font-size: 3em;
}

h2 {
  color: $silver;
}

h3 {
  padding-top: 1rem;
  color: $navy;
}

h4 {
  color: $olive;
  padding-top: 2rem;
  border-bottom: .1rem solid $olive;
}
